<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>Hi!</h2><br>
<label>The number of outliers in the dataset are {{outliers}}</label>
<br>
<label>The Visualization of the Data is given as follows</label><br>
<label>where blue dots indicate the outliers</label>
<img src={{user_image}} alt="User Image">
<br>
<label>The number of Type 1 outliers in the dataset are {{t1}}</label>
<br>
<label>The number of Type 2 outliers in the dataset are {{t2}}</label>
<br>
<label>The number of Type 3 outliers in the dataset are {{t3}}</label>
<br>
<label>The indices of Type 3 outliers in the dataset are </label>
<label>{{ind}}</label>
<br>
<label>The indices at which the extreme outliers can be found are </label>
<label>{{ext}}</label>
<br>
</body>
</html>